%script{:src => "/javascript/enc/jose.js"}
%script{:src => "/javascript/enc/yahoo-min.js"}
%script{:src => "/javascript/enc/jsbn.js"}
%script{:src => "/javascript/enc/jsbn2.js"}
%script{:src => "/javascript/enc/prng4.js"}
%script{:src => "/javascript/enc/rng.js"}
%script{:src => "/javascript/enc/base64.js"}
%script{:src => "/javascript/enc/rsa.js"}
%script{:src => "/javascript/enc/rsa2.js"}
%script{:src => "/javascript/enc/ec.js"}
%script{:src => "/javascript/enc/ec-patch.js"}
%script{:src => "/javascript/enc/webcrypto-shim.js"}
%script{:src => "/javascript/enc/asn1hex-1.1.min.js"}
%script{:src => "/javascript/enc/base64x-1.1.min.js"}
%script{:src => "/javascript/enc/ecdsa-modified-1.0.min.js"}
%script{:src => "/javascript/enc/keyutil-1.0.min.js"}
%script{:src => "/javascript/enc/encrypt.js"}
/[if lt IE 9]
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
:javascript
  function collect_figo_data() {
      var data = [];
      $('.figo_inputs').each(function(idx,elem) { data.push($(elem).val()) } )
      return JSON.stringify(data);
  }
