.panel.panel-primary
  .panel-heading
    %h3.panel-title Your success is our mission.
  .panel-body
    Helping you to succeed in your business is our purpose.

    %p
      We provide credit ratings based on your accounts to build
      confidence and trust for your partners and customers.
    %p
      Our credit ratings are always up-to-date and improving as your
      business succeeds.
