.panel.panel-primary
  .panel-heading
    %h3.panel-title Current Rating
  .panel-body
    - if @user.accounts.size == 0
      No Accounts, No Credit Rating.
      %a{ :href => "/add_account" } Add An Account.
    - else
      - total_score = 0
      %table.w-100p.colorit
        %thead
          %tr
            %th.txa-l Factor
            %th.txa-c Value
            %th.txa-c Score
        %tbody
          - @ratings = RatingEngine.new(@user).tablize_ratings
          = haml :"_rating_factors"
