ul.no-bullet-point {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
}

table.colorit tr:nth-child(even) {
  background-color: rgba(255,0,0,0.1);
}

.hide {
    display: none;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.avatar {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    line-height: 14px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-right: 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
}
